.app {
    max-width: 600px;
    margin: 0 auto;
}
.header{
    margin: 0 2.25em;
}
.note-list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.add {
    display: flex;
    margin: 0 2.25em;
	align-items: center;
    align-self: flex-end;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 35px;
	box-shadow: var(--dp08);
	background-color: var(--s500);
}

@media only screen and (max-width: 600px) {
    .note_list{
        display: flex;
        flex-direction: wrap;
        flex-wrap: wrap;
        margin: 0;
    }
}